# Version control
.git
.gitignore

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
.env
.venv
env/
venv/
ENV/
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints
notebooks/

# VS Code
.vscode/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Logs
logs/
*.log 