flask
flask-cors
python-dotenv
werkzeug
hypercorn
quart
pyyaml
requests

# Dymension CLI requirements
subprocess32

# Other dependencies
aiohttp>=3.8.0
python-dotenv>=0.15.0
asyncio>=3.4.3
websockets>=10.0
requests>=2.25.1
typing_extensions>=4.0.0

certifi>=2021.10.8
charset-normalizer>=2.0.0
idna>=3.3
urllib3>=1.26.7